@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --fs-xsm: 12px;
  --fs-sm: 13px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 17px;
  --fs-2xl: 18px;
  --fs-3xl: 19px;
  --fs-4xl: 20px;
  --fs-5xl: 32px;
  --fs-6xl: 40px;
  --fs-7xl: 52px;
  --fs-8xl: 64px;
  --fs-9xl: 72px;
  --fs-10xl: 84px;
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_3xl {
  font-size: var(--fs-3xl);
}

.fs_4xl {
  font-size: var(--fs-4xl);
}

.fs_5xl {
  font-size: var(--fs-5xl);
}

.fs_6xl {
  font-size: var(--fs-6xl);
}

.fs_7xl {
  font-size: var(--fs-7xl);
}

.fs_8xl {
  font-size: var(--fs-8xl);
}

.fs_9xl {
  font-size: var(--fs-9xl);
}

.fs_10xl {
  font-size: var(--fs-10xl);
}

.ff_inter {
  font-family: 'Inter', sans-serif;
}

.ff_kanit {
  font-family: 'Kanit', sans-serif;
}